<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="static/assets/images/burger_center.jpg">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Eat Da Burger!</title>
</head>
<body>
    {{{body}}}
</body>
</html>